body {
  background-color: rgb(214, 227, 238);
}

.cabeçalho {
  margin: 30px auto;
  padding: 20px;
  text-align: center;
  width: 90%;
}

h1 {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 40px;
}

h2 {
  font-family: 'Roboto';
  font-weight: 800;
  font-size: 38px;
  margin-top: 30px;
  color: darkgreen;
}

.calendario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 10px;
}

input[type="submit"] {
  border: 0;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  height: 35px;
  width: 175px;
  background-color: darkolivegreen;
  border-radius: 5px;
  color: whitesmoke;
}

input[type="submit"]:hover {
  background-color: rgb(125, 160, 65);
}

input[type="date"] {
  height: 35px;
  text-align: center;
  font-family: 'Roboto';
}

.calendario input {
  margin: 0 10px;
}

.calendar {
  background-color: whitesmoke;
  border: 2px solid green;
  height: 80px;
  padding: 20px;
}

.table1{
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

h3 {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 500;
}

table {
  text-align: center;
  border: solid 1px grey; 
}

th {
  border: solid 1px grey; 
}

td {
  border: solid 1px grey; 
}

.btn_voltar {
  width: 100px;
  height: 25px;
  background-color: #1A2E21;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  border-radius: 5px;
}

.a_btn {
  color: white;
  font-family: 'Roboto';
  text-decoration: none;
}

.a_btn:hover {
  color: white;
}

.red {
  background-color: darkred!important;
  color: white;
  font-weight: bold;
}